<div class="wrap-card">
    @for (int i = 0; i < 9; i++)
    {
        <div class="asco-card height-fix">
            <div class="asco-card__emptybox">
                <div class="asco-card__emptybox__content">
                    <h4>Graphic<br />card</h4>
                    <h1>+</h1>
                </div>
            </div>
        </div>
    }
    <div class="asco-card">
        <div class="asco-card__emptybox">
            <div class="asco-card__emptybox__content">
                <h4>Graphic<br />card</h4>
                <h1>+</h1>
            </div>
        </div>
    </div>
</div>
