 <select class="cs-select cs-skin-elastic" name='type' scrolling="yes">
    <option value="" disabled selected>All</option>
    <option value="All">All</option>
    <option value='Motherboard'>Motherboard</option>
    <option value='Processor'>Processor</option>
    <option value='Graphic card'>Graphic card</option>
    <option value='HDD'>HDD</option>
    <option value='Culer'>Culer</option>
    <option value='RAM'>RAM</option>
    <option value='SSD'>SSD</option>
</select>