<section class="asco-container">
    <div class="asco-container__pc">
        <div class="containerPC">
            <div id="aSide">
@*                <model-viewer class="size3d" src="assets/scene.gltf" 
                    alt="PC" auto-rotate disable-zoom camera-controls ar ios-src="assets/scene.gltf">
                </model-viewer>*@
            </div>
            </div>
         <div class="asco-container__pc__text t-right-1">MSI Radeon RX 5700 XT</div>
         <div class="asco-container__pc__text t-right-2">Nvidia Geforce 1050ti</div>
         <div class="asco-container__pc__text t-right-3">Kingston HyperX Fury Black</div>
         <div class="asco-container__pc__text t-left-1">Intel LGA1151 v2</div>
         <div class="asco-container__pc__text t-left-2">Intel B460 Chipset mATX GM</div>
         <div class="asco-container__pc__text t-left-3">Samsung 970 EVO</div>
     </div>
            <div class="asco-container__price">
                <div class="asco-container__price__money">1200 $</div>
            </div>
</section>