@using ASCOPC.Client.Shared.Modals
@inject IModalService Modal;
@inject IJSRuntime js


<div class="header__nav">
    <div class="button__nav" @onclick="@(async () => await LoginModalAsync())">
        <span class="lnr lnr__buttons lnr-enter"></span></div>
    <div class="button__nav"><span class="lnr lnr__buttons lnr-download"></span></div>
    <div class="button__nav" @onclick="@(async () => await ContactsModalAsync())">
        <span class="lnr lnr__buttons lnr-envelope"></span></div>
    <div class="button__nav"><span class="lnr lnr__buttons lnr-cart"></span></div>
</div>

@code{
    public async Task LoginModalAsync()
    {
        BlurModal blurModal = new(new MainModal(Modal), js);
        await blurModal.CreateAsync<Login>();
    }

    public async Task ContactsModalAsync()
    {
        MainModal main = new(Modal);
        await main.CreateAsync<Contacts>();
    }
}