@page "/"

@inject IJSRuntime js

 <Builds></Builds>

<div class="asco-wrap">
    <BlazorAnimate.Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(2)">
        <header>
            <Account></Account>
            <div class="header__container">
                <BlazorAnimate.Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.5)">
                    <div class="container__text">
                        <h1>ASCOPC<br /><span>Build computer <br /><span class="asco-title__subtitle">your</span> dream</span></h1>
                    </div>
                </BlazorAnimate.Animate>
                <div class="header__container__arrow">
                     <div class='mouse' @onclick="@(async () => await js.Scroll("BuildId"))">
                        <span class='scroll-down'></span>
                    </div>
                </div>
            </div>
            <NavMenu></NavMenu>
        </header>
        <ComputerSection></ComputerSection>
    </BlazorAnimate.Animate>

    <BlazorAnimate.Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(5)">
        <main>
            <div class="main__title">
                <div class="container__text main__text" id="BuildId">
                    <h1>Build</h1>
                </div>
               <Categories></Categories>
            </div>
            <Cards></Cards>
            <div class="asco-clear-container">
                <div class="asco-clear-container__button">Clear All</div>
            </div>
        </main>
        </BlazorAnimate.Animate>
        
        <footer>
            <TypeOfBuilds></TypeOfBuilds>
            <div class="footer__socialLink">
                <a href="https://github.com/FectourSu" class="hovA">|</a>
                <a href="https://github.com/TheWayToJunior" class="hovA">||</a>
            </div>
        </footer>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool aftR)
    {
        if (aftR)
        {
           //await js.InvokeVoidAsync("blazorIsNotBlur");
            await js.InvokeVoidAsync("blazorScroll");
            await js.InvokeVoidAsync("blazorSelectBox");
        }
    }
}
