@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

html, body {
    font-family: 'Montserrat'
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.button a {
    cursor: pointer;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    overflow-x: hidden;
    color: #2d2d2d;
}

input,
button,
textarea {
    font-family: "Montserrat";
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
}

#blazor-error-ui {
    background: #614c99;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
    font-family: "Montserrat thin";
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* MAIN */
.asco-wrap {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 3.125em;
}
/*      */

/* HEADER */
    .header__container__text h1::after {
        content: '.';
        color: #6a24fa;
    }
.header__button {
    background-color: white;
    border: 0.3px solid #946bf9;
    width: 250px;
    height: 48px;
    margin-top: 45px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #946bf9;
    font-size: 1em;
    letter-spacing: .3em;
    line-height: 1.6em;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
    .header__button:hover {
        background-color: #946bf9;
        color: white;
        border: 0;
        transition: 0.2s;
        -webkit-transition: 0.2s;
    }
.asco-title__subtitle {
    color: #946bf9 !important;
}
.header__container__text h1{
    font-size: 2.5em;
}
.header__container__text h1 span {
    color: #a5a4a4;
}
.header__container__arrow {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    margin: 2rem 0 0 0;
}
@-webkit-keyframes scroll-inner {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 50%;
    }
}

@keyframes scroll-inner {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 50%;
    }
}

@-webkit-keyframes scroll-mouse {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 15px;
    }
}

@keyframes scroll-mouse {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 15px;
    }
}

div.mouse {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 80px;
    border: solid 2px #946bf9;
    border-radius: 25px;
    -webkit-animation: scroll-mouse 1.5s;
    animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    zoom: 0.5;
}

    div.mouse span.scroll-down {
        display: block;
        width: 10px;
        height: 10px;
        background: #946bf9;
        border-radius: 50%;
        margin: 15% auto auto auto;
        -webkit-animation: scroll-inner 1.5s;
        animation: scroll-inner 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
    }

.header__container{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.header__container__text {
    letter-spacing: .3em;
    line-height: 1.6em;
    font-family: "Montserrat Regular";
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    margin: 2rem 0 0 0;
    width: 100%;
}
.asco-wrap header {
    padding-top: 6.25em;
    margin-bottom: 6.125em;
    text-align: left;
    font-size: 1rem;
}
.asco-logo{
    width: 50px;
    height: 50px;
}
/*        */

/* PC CONTAINER */
.asco-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.asco-container__pc__text {
    position: absolute;
    height: 80px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    text-align: center;
    font-family: "Montserrat Medium";
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1px;
}
.t-right-1 {
    right: -50px;
    top: 235px;
}
.t-right-2 {
    right: -44px;
    top: 52px;
}
.t-right-3 {
    right: -40px;
    top: -90px;
}

.t-left-1 {
    left: -17px;
    top: 259px;
}
.t-left-2 {
    left: -52px;
    top: 154px;
}
.t-left-3 {
    left: -4px;
    top: -12px;
}
@media (max-width:740px) {
    .asco-container__pc{
        zoom: 0.8;
    }
    .header__container__text h1 {
        font-size: 2em;
    }
}
@media (max-width:600px) {
    .asco-container__pc {
        zoom: 0.6;
    }

    .header__container__text h1 {
        font-size: 1.5em;
    }
    .asco-container__pc__text {
        font-size: 1.2em;
    }
}
@media (max-width:450px) {
    .asco-container__pc {
        zoom: 0.4;
    }
    .asco-wrap {
        padding: 0 2.125em;
    }
    .header__container__arrow {
        position: absolute;
        text-align: center;
        align-items: center;
        right: 0;
        left: 0;
        margin-top: 130px;
    }

    .header__container {
        display: block;
    }
    .header__button{
        font-size: 0.8em;
        background-color: #946bf9;
        color:white;
        border: 0;
    }
    .asco-wrap header {
        margin-bottom: 10.7em;
    }
    .asco-container__pc__text {
        font-size: 1.3em;
    }
}
.asco-container__pc {
    background: url("../img/ResultComputer.svg") no-repeat center;
    width: 650px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
/*           */

/* SCROLL AND SELECT*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #a5a4a4;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::selection {
    background: #2d2d2d;
    color: white;
}

/*        */
