@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

html, body {
    font-family: 'Montserrat';
    cursor: none !important;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.button a {
    cursor: none !important;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    overflow-x: hidden;
    color: #2d2d2d;
}

input,
button,
textarea {
    font-family: "Montserrat";
}

    input::-ms-clear {
        display: none;
    }



    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    font-family: "Montserrat";
}

#blazor-error-ui {
    background: #614c99;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
    font-family: "Montserrat thin";
}

    #blazor-error-ui .dismiss {
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Wrap */
.asco-wrap {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4.125em;
}
/*      */

/* HEADER */
.header__button {
    background-color: white;
    border: 0.3px solid #946bf9;
    width: 250px;
    height: 48px;
    margin-top: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #946bf9;
    font-size: 1em;
    letter-spacing: .3em;
    line-height: 1.6em;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    user-select: none;
}
    .header__button:hover {
        background-color: #946bf9;
        color: white;
    }
.asco-title__subtitle {
    color: #946bf9 !important;
}
.container__text h1{
    font-size: 2.5em;
}

@media (min-width: 600px){
    body {
        overflow-y: hidden;
    }
}

.container__text h1 span {
    color: #a5a4a4;
}

.header__container__arrow {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    margin: 2rem 0 0 0;
}
@-webkit-keyframes scroll-inner {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 50%;
    }
}

@keyframes scroll-inner {
    from {
        margin-top: 15%;
    }

    to {
        margin-top: 50%;
    }
}

@-webkit-keyframes scroll-mouse {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 15px;
    }
}

@keyframes scroll-mouse {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 15px;
    }
}

div.mouse {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 80px;
    border: solid 2px #946bf9;
    border-radius: 25px;
    -webkit-animation: scroll-mouse 1.5s;
    animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    zoom: 0.5;
}

    div.mouse span.scroll-down {
        display: block;
        width: 10px;
        height: 10px;
        background: #946bf9;
        border-radius: 50%;
        margin: 15% auto auto auto;
        -webkit-animation: scroll-inner 1.5s;
        animation: scroll-inner 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
    }

.header__container{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.container__text {
    letter-spacing: .5em;
    line-height: 1.6em;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    margin: 2rem 0 0 0;
    width: 100%;
}
.asco-wrap header {
    padding-top: 6.25em;
    margin-bottom: 7.125em;
    text-align: left;
    font-size: 1rem;
}
.asco-logo{
    width: 50px;
    height: 50px;
}
/*        */

/* PC CONTAINER */

.asco-container__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 200;
    color: #2d2d2d;
    margin-top: 4em;
}

.asco-container__price__title{
    color: #a5a4a4;
}

.asco-container__price__money {
    color: #2d2d2d;
    font-weight: 300;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.asco-container {
    width: 100%;
    margin: 0 auto;
}

.asco-container__pc__text {
    position: absolute;
    height: 80px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    text-align: center;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1px;
    font-weight: 500;
}
.t-right-1 {
    right: -50px;
    top: 235px;
}
.t-right-2 {
    right: -44px;
    top: 52px;
}
.t-right-3 {
    right: -40px;
    top: -90px;
}

.t-left-1 {
    left: -17px;
    top: 259px;
}
.t-left-2 {
    left: -52px;
    top: 154px;
}
.t-left-3 {
    left: -4px;
    top: -12px;
}
@media (max-width:740px) {
    .asco-container__pc{
        zoom: 0.8;
    }
    .container__text h1 {
        font-size: 2em;
    }
}
@media (max-width:600px) {
    .asco-container__pc {
        zoom: 0.6;
    }
    .asco-container__price{
        font-size: 0.8em;
    }
    .container__text h1 {
        font-size: 1.5em;
    }
    .asco-container__pc__text {
        font-size: 1.2em;
    }
}

.container__text h1::after {
        content: '.';
        color: #946bf9;
    }

@media (max-width:450px) {

    .cursor {
        display: none;
    }
    .cursor--canvas {
        display: none !important;
    }
    .asco-container__pc {
        zoom: 0.4;
    }
    .asco-wrap {
        padding: 0 2.125em;
    }
    .header__container__arrow {
        position: absolute;
        text-align: center;
        align-items: center;
        right: 0;
        left: 0;
        margin-top: 160px;
        padding-right: 20px;
    }

    .header__container {
        display: block;
    }
    .header__button{
        font-size: 0.8em;
        background-color: #946bf9;
        color:white;
        border: 0;
        margin: 45px auto 0 !important;
    }
    .asco-wrap header {
        margin-bottom: 12.7em;
    }
    .asco-container__pc__text {
        font-size: 1.3em;
    }
}
.asco-container__pc {
    background: url("../img/resultC.svg") no-repeat center;
    width: 650px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

/*           */


/* CIRCLE */
.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.progress-ring {
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    top: 4em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    left: 0.5em;
    right: 0;
    zoom: 0.94;
    margin: auto;
    z-index: 1;
}
.circles {
    position: absolute;
    bottom: 0;
    top: 4em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    left: 0.5em;
    right: 0;
    zoom: 0.94;
    margin: auto;
    width: 115px;
    height: 115px;
    background-color: white;
    z-index: 0;
    border: 11.5px solid rgba(0,0,0, 0.03);
    border-radius: 100px;

}
.counterLoad {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 80px;
}
/*        */


/* SCROLL AND SELECT MOUSE*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #a5a4a4;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::selection {
    background: #2d2d2d;
    color: white;
}

/*        */

/* CURSOR */

.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px !important;
    top: -2.5px !important;
    border-radius: 50%;
    z-index: 999999;
    background: #2d2d2d;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}

.cursor--canvas
{
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.cursor--small::after {
    display: none !important;
}

/*      */

/* LOADING */

.loading-bar {
    z-index: 50;
    position: fixed;
    height: .25em;
    top: 0;
    left: 0;
    right: 0;
}
.loading-bar__wrapper {
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #946bf9;
    box-shadow: 0px 0px 5px grey;
    animation: myline 1.3s ease-in-out infinite alternate;
    border-radius: 50px;
}

@keyframes myline {
    0% {
        transform: scaleX(0.1);
        -webkit-transform: scaleX(0.1);
        opacity: 0.8;
    }

    100% {
        transform: scaleX(1.0);
        -webkit-transform: scaleX(1.0);
        opacity: 1;
    }
}

/*         */

/* MAIN CONTAINER */
main {
    height: 100%;
}
.main__title{
    display:flex;
    justify-content: space-between;
}
.main__combobox{
    width:100%;
}
/*                */

/* SELECT */
.cs-placeholder {
    text-align: right;
    padding-right: 0 !important;
    color: #946bf9;
}

.selection__divider {
    -webkit-transition: height .2s ease-out 0s;
    transition: height .2s ease-out 0s;
    background-color: #a5a4a4;
    height: 3em;
    width: 0.3px;
    margin: 1.4em 0;
    font-family: "Montserrat";
    font-weight: 100;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

/* CS SELECT */
/* Default custom select styles */
div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 30px;
    margin: 1.7rem 0 0 0;
    text-align: right;
    font-size: 1em;
    font-family: Montserrat;
    font-weight: 200;
    color: #2d2d2d;
}

    div.cs-select:focus {
        outline: none; /* For better accessibility add a style for this in your skin */
    }

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
    padding-right: 3em;
}





div.cs-active {
    z-index: 200;
}

/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
    font-family: Montserrat;
    font-weight: 200;
    color: #2d2d2d;
    overflow: auto;
    max-height: 200px;
    paddin-bottom: 0;
    font-size: 0.8em;
    text-align: center;
    width: 200px;
    align-items: center;
    margin: 0 0 auto 0;
    display: block;
    width: 100%;
    overflow-x: hidden;
    right: 5px;
}


.cs-select.cs-active .cs-options {
    visibility: visible;
}
.cs-placeholder::after {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    top: 0;
    width: 10px;
    position: relative;
    transform: rotate(45deg);
    margin-left: 37px;
    height: 16px;
    margin-bottom: 2px;
}
.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    margin: 0 0 0 auto;
    max-height: 200px;
    background-color:white;
}

    .cs-select ul span {
        padding: 1em;
    }

    .cs-select ul li.cs-focus span {
        background-color: #ddd;
    }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}
.cs-options ul li {
    max-width: 100px;
}
.cs-options ul li:hover {
    color: #946bf9;
}

@media (max-width: 650px) {
    div.cs-select {
        margin: 1rem 0 0 0 !important;
    }
}
    /*        */